{% extends 'layout.html' %}
{% block title %} - {{ _("Forum (recherche)") }}{% endblock %}
{% block site_content %}
<div class="siteMinHeight">
    <div class="forum">
        <h1><a href="/forum.html">{{ _("Forum") }}</a> :: {{ _("recherche") }}</h1>

        {% include "forum/search_form.html" %}

        <h1></h1>

        <p>
        {{ _("Vous pouvez <strong>affiner</strong> votre recherche en utilisant les signes
        <code>+</code> et <code>-</code> devant chaque mot de votre
        recherche.") | safe }}
        </p>

        <h3>{{ _("Quelques exemples de recherche :") }}</h3>

        <dl>
            <dt class="first"><code>{{ _("quête") }}</code></dt>
            <dd><p>{{ _("rechercher tous les messages traitant de <span>quête</span>") | safe }}</p></dd>

            <dt><code>{{ _("quête réfrigérateur") }}</code></dt>
            <dd><p>{{ _("rechercher tous les messages traitant de <span>quête</span> OU de <span>réfrigérateur</span>") | safe }}</p></dd>

            <dt><code>{{ _("+quête +réfrigérateur") }}</code></dt>
            <dd><p>{{ _("rechercher tous les messages traitant de <span>quête</span> ET de <span>réfrigérateur</span>") | safe }}</p></dd>

            <dt><code>{{ _("+quête -réfrigérateur") }}</code></dt>
            <dd><p>{{ _("rechercher tous les messages traitant de <span>quête</span> MAIS PAS de <span>réfrigérateur</span>") | safe }}</p></dd>

            <dt><code>{{ _('+quête +"je les ai tous trouvés"') }}</code></dt>
            <dd><p>{{ _('rechercher tous les messages traitant de <span>quête</span> et contenant texto "<span>je les ai tous trouvés</span>"') | safe }}</p></dd>
        </dl>

    </div>
</div>
{% endblock %}
