{% extends 'layout.html' %}
{% block title %} - Parrainage{% endblock %}
{% block site_content %}
<div class="siteMinHeight">

	<h1>parrainage</h1>

	<h2>Pourquoi parrainer ?</h2>

	<p>
	Pour gagner des parties <img src="/img/design/snow_flake_blue.gif" alt=""/>
	gratuites ! En devenant parrain, à chaque fois que l&#039;un de vos
	filleuls achète des parties sur Hammerfest, vous recevrez
	<strong>15% de son achat en parties supplémentaires</strong>.
	</p>

	<h2>Comment parrainer ?</h2>

	<p>La méthode la plus simple consiste à demander aux
	personnes à qui vous conseillez Hammerfest d&#039;<strong>indiquer votre pseudonyme
		(<em>Igor</em>) dans la case &quot;Parrain&quot; lors de leur
		inscription</strong>.</p>

	<h2>Lien de parrainage</h2>

	<p>
	Si vous souhaitez mettre un lien vers Hammerfest, vous pouvez aussi
	utiliser l&#039;adresse ci-dessous.
	</p>
	<p>
	Les personnes qui s&#039;inscriront en
	ayant suivi ce lien deviendront automatiquement vos filleuls :
	</p>

	<div class="centerTextArea">
		<pre class="sponsorTextArea">http://www.hammerfest.fr/?ref=Igor</pre>
	</div>

	<h2>Webmasters et utilisateurs des forums</h2>

	<p>
	<strong>Webmasters et utilisateurs des forums</strong>,
	<a href="/webmasters.html">cliquez ici</a> pour voir comment insérer des jolies
	animations sur votre site ou signature de forum!
	</p>

	<h2>Liste de vos filleuls</h2>


	<table class="sponsor">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Parties obtenues</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="/user.html/0">Igor</a></td>
				<td>
					aucune !					</td>
			</tr>
			</tr>			</tbody>
	</table>		<div class="paginSponsor">
	</div>		<div class="clear"></div>
</div>
{% endblock %}
