{% extends 'layout.html' %}
{% block title %} - Guía{% endblock %}
{% block site_content %}
<div class="siteMinHeight">
    <div class="guide">
        <h1>guía del <strong>juego</strong></h1>

        <h2>Sumario</h2>
        <ul class="toc">
            <li><a href="#story">La historia</a></li>
            <li><a href="#adventure">Las partidas (copos)</a></li>
            <li><a href="#mode">Jugar: Los Modos de juego</a></li>
            <li><a href="#fridge">El Frigorífico</a></li>
            <li><a href="#quests">Las Exploraciones</a></li>
            <li><a href="#pyramid">La Pirámide (clasificación)</a></li>
            <li><a href="#panel">El Panel de compra</a></li>
            <li><a href="#options">Las Opciones de juego</a></li>
            <li><a href="#forum">El foro</a></li>
            <li><a href="#support">Soporte técnico</a></li>
            <li><a href="#contact">Contacto</a></li>
        </ul>

        <a name="story"></a>
        <h2>1. La historia</h2>
        <p>
        Igor es un pequeño hombre de nieve que vive en las lejanas y frías
        tierras de Hammerfest. Un día este bello país de verdes colinas y montañas
        nevadas se vio sacudido por los maléficos poderes de Tubérculo el hechicero.
        ¡Las frutas fueron maldecidas y secuestradas!
        </p>

        <p>
        El intrépido Igor decidió salir en búsqueda de sus amigas las frutas para acabar
        con <a href="/intro.html#play">el malvado plan del hechicero...</a>
        </p>

        <a name="adventure"></a>
        <h2>2. Las partidas (copos)</h2>

        <p class="attention">
        <img src="/img/design/icon_attention.gif" alt="" class="left"/>
        <img src="/img/design/icon_attention.gif" alt="" class="right"/>
        Cuando te inscribes, dispones de <strong>5 <img src="/img/design/snow_flake_blue.gif" alt=""/>
            gratis</strong>. Tienes 1 partida gratis al día, pero recuerda que no se pueden acumular.
        </p>

        <p>
        <span>¿Quieres ganar partidas y vidas extra?</span> Echa un vistazo
        a la sección <a href="#quests">Exploraciones</a> para más información.
        </p>

        <a name="mode"></a>
        <h2>3. Jugar: los Modos de juego</h2>
        <p>
        Para empezar a <strong>Jugar</strong> <img src="/img/design/help_adventure.gif" alt=""/>
        haz clic en el icono grande de Igor en el cubito de hielo situado en la zona superior izquierda
        de la web.
        Selecciona un Modo de juego y haz clic en &quot;Comenzar&quot;.
        </p>

        <p>
        Hay varios modos de juego:
        </p>

        <ul>
            <li>
                <strong>El principal Modo de juego es el modo Aventura</strong> <img src="/img/design/iadv_blue.gif" alt=""/>.
                En el modo Aventura puedes hacer exploraciones, desbloquear nuevos modos de juego, ganar puntos para subir en la
                pirámide, etc.
                Cada partida cuesta 1 <img src="/img/design/snow_flake_blue.gif" alt=""/> copo.
            </li>

            <li>
                <strong>El modo Aprendizaje <img src="/img/design/itutorial_blue.gif" alt=""/> está muy recomendado para los
                    principiantes</strong>.
                Con este modo aprendes las técnicas básicas antes de lanzarte al modo Aventura. El modo aprendizaje es ilimitado
                y gratuito.
            </li>

            <li>
                Respecto a los otros Modos de juego <img src="/img/design/iint_blue.gif" alt=""/>, ¡tienes que desbloquearlos y descubrirlos por ti mismo!
            </li>
        </ul>

        <a name="fridge"></a>
        <h2>4. El Frigorífico</h2>

        <p>
        El <strong>Frigorífico</strong> <img src="/img/design/help_fridge.gif" alt=""/> es
        el lugar donde Igor guarda su colección de objetos. <strong>Los objetos se obtienen
            a lo largo del juego en el modo Aventura</strong>. En la mayoría de los casos,
        es necesario haber adquirido al menos 10 un objeto durante el juego para tenerlo en el
        Frigorífico de Igor.
        </p>

        <p>
        El Frigorífico no tiene ninguna utilidad en el juego. El único objetivo es guardar un
        recuerdo de tus aventuras en las cavernas.
        </p>


        <a name="pyramid"></a>
        <h2>5. La Pirámide (clasificación)</h2>
        <p>
        La <strong>Pirámide</strong> <img src="/img/design/help_pyr.gif" alt=""/>es una liga semanal
        que incluye a todos los jugadores que participan en el <strong>modo Aventura</strong>
        </p>

        <p>
        Al final de cada partida del modo Aventura, el número de puntos que has obtenido
        se guarda en la <a href="/scores.html">clasificación de la Pirámide</a>.
        </p>
        <p>
        Cada jugador empieza en el nivel más bajo de la Pirámide: el nivel 4.
        </p>
        <p>
        Todos los lunes por la noche, en torno a medianoche, la clasificación es puesta a cero y
        <strong>los 500 mejores jugadores de cada nivel suben a la etapa superior</strong>.
        </p>
        <p>
        ¡El mejor jugador de la clasificación del nivel 1 ganará un lugar en el
        <strong>Panteón</strong> <img src="/img/design/icon_pyramid_hof.png" alt=""/> !
        ¡Gracias a este título, se convertirá en leyenda viva y podrá añadir un mensaje
        en el <strong>Gran Libro de los Héroes</strong>!
        </p>
        <p>
        Fíjate bienen que solo los puntos son puestos a cero. Tus posesiones, partidas compradas
        y exploraciones descubiertas son conservadas.
        </p>

        <a name="quests"></a>
        <h2>6. Las Exploraciones</h2>
        <p>
        En la página de <strong>Exploraciones</strong> <img src="/img/design/help_quest.gif" alt=""/>
        tienes un resumen de todas las Exploraciones empezadas, terminadas y en curso de búsqueda.
        </p>
        <p>
        A lo largo de tus partidas en el modo Aventura, encontrarás numerosos objetos de diversos
        efectos. A veces sólo te darán puntos y otras veces tendrán poderes devastadores sobre tus
        enemigos o sobre ti mismo.
        </p>
        <p>
        La mayoría de estos objetos forman parte de
        <a href="/user.html/quests">exploraciones de larga duración</a>.
        </p>
        <p>
        <strong>Una exploración consiste en acumular una serie de objetos precisos</strong>.
        Cuando encuentras todos los objetos que pertenecen a una exploración, ¡ésta será validada
        y sus efectos serán aplicados de forma permanente en tus próximas partidas!
        </p>
        <p>Estos efectos son variados y en ocasiones una vez que terminas una exploración, puedes obtener:</p>
        <ul>
            <li>Partidas gratis</li>
            <li>Vidas extra</li>
            <li>Vidas extra cada vez que empieces el modo Aventura</li>
            <li>Nuevas exploraciones disponibles para su búsqueda</li>
            <li>Nuevos modos de juego</li>
            <li>Nuevas habilidades</li>
            <li>Más partidas cada vez que hagas una compra en la tienda</li>
            <li>¡Y un largo etcétera!</li>
        </ul>

        <a name="options"></a>
        <h2>7. Las Opciones de juego</h2>
        <p>En el <strong>Menú del Juego</strong>, justo abajo, haz clic en
        <img src="/img/design/help_opt_es.gif" alt=""/> para cambiar ciertas características durante el juego:
        </p>
        <ul>
            <li>
                <strong>Detalles gráficos elevados</strong>. Para mejorar la rapidez del juego,
                desactiva la casilla.
            </li>
            <li>
                <strong>Vibraciones frecuentes</strong>. Si te parece que las vibraciones en el juego
                entorpecen tu juego, desactiva esta casilla.
            </li>
            <li>
                <strong>Sonido</strong>. Los efectos de sonido (los saltos, las explosiones, etc.) están activados
                si activas esta casilla.
            </li>
            <li>
                <strong>Música</strong>. Activa esta casilla para escuchar la música del juego durante tu aventura.
            </li>
            <li>
                <strong>Volumen del sonido</strong>. Puedes cambiar el volumen de la música con esta opción.
            </li>
        </ul>

        <a name="forum"></a>
        <h2>8. El foro</h2>
        <p>
        ¿Estás perdido en las oscuras cavernas de Hammerfest? ¿Te preguntas para qué sirve
        ese cristal gigante que cae a veces?
        ¡Haz todas las preguntas en el <a href="/forum.html">foro</a>! Administradores, moderadores y jugadores
        te ayudarán a resolverlas.
        </p>

        <a name="support"></a>
        <h2>9. Soporte técnico</h2>
        <p>
        Si tienes <strong>dificultades técnicas</strong>, un problema con un pago o con el juego, consulta nuestro portal de
        ayuda <a href="http://soporte.motion-twin.com">Soporte técnico</a> (enlace igualmente disponible en la zona
        inferior de la web).
        </p>

        <a name="contact"></a>
        <h2>10. Contacto</h2>
        <p>
        Si tienes un problema, ya sea con el juego o con un pago, puedes contactar con nosotros. Sin embargo, antes
        de hacerlo, te aconsejamos comprobar si tu problema está ya explicado en:
        </p>
        <ul>		    	
            <li> <a href="/guide.html">La guía del Juego</a> </li>
            <li> <a href="/forum.html">El foro</a></li>
            <li>Las <strong>preguntas frecuentes</strong> de nuestro <a href="http://soporte.motion-twin.com">Portal de Soporte y Ayuda</a>. 
                Este portal engloba a todas las webs de Motion Twin, incluido específicamente Hammerfest. De no encontrar tu respuesta, en este portal podrás contactar con nosotros.
            </li>
        </ul>		    
    </div>

</div>
{% endblock %}
