{% extends 'layout.html' %}
{% block title %} - Game guide{% endblock %}
{% block site_content %}
<div class="siteMinHeight">
    <div class="guide">
        <h1>game <strong>guide</strong></h1>

        <h2>Contents</h2>
        <ul class="toc">
            <li><a href="#story">The story</a></li>
            <li><a href="#adventure">Playing a game (snowflakes)</a></li>
            <li><a href="#mode">Playing: Choosing a game mode</a></li>
            <li><a href="#fridge">The fridge</a></li>
            <li><a href="#quests">The quests</a></li>
            <li><a href="#pyramid">The pyramid (score)</a></li>				
            <li><a href="#options">Game options</a></li>
            <li><a href="#forum">The forum</a></li>
            <li><a href="#support">Technical support</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>

        <a name="story"></a>
        <h2>1. The story</h2>
        <p>
        Igor is a snowman who lives in the far away and cold land of Hammerfest.
        This beautiful country of green hills and snow-covered mountains was once
        shattered by the evil powers of Tuber the Sorcerer.
        The fruits were cursed and kidnapped and Igor found himself sad and alone without
        his friends.
        </p>

        <p>
        The intrepid Igor decided to go and rescue his friends the Fruits and to destroy
        <a href="/intro.html#play"> the evil sorcerer&#039;s plan...</a>
        </p>

        <a name="adventure"></a>
        <h2>2. Playing a game (snowflakes)</h2>

        <p class="attention">
        <img src="/img/design/icon_attention.gif" alt="" class="left"/>
        <img src="/img/design/icon_attention.gif" alt="" class="right"/>
        When you create an account, you have <strong>5 free games</strong>.
        Each day you&#039;ll have a new free game (which you cannot accumulate).
        </p>

        <p>You can buy more games in the <a href="/shop.html">Shop</a>. These games can be accumulated and are kept in your account.</p>

        <p>
        <span>Do you want to win games and extra lives?</span> Take a look at the
        <a href="#quests">Quests</a> section for further information.
        </p>

        <a name="mode"></a>
        <h2>3. Playing: Choosing a Game mode</h2>
        <p>
        To start <strong>Playing</strong> <img src="/img/design/help_adventure.gif" alt=""/>,
        click on the big icon of Igor in the ice cube, situated on the left side of the site.
        Select a Game mode and click on &quot;Start game&quot;.
        </p>

        <p>
        There are several game modes:
        </p>

        <ul>
            <li>
                <strong>The main game mode is the Adventure mode</strong> <img src="/img/design/iadv_blue.gif" alt=""/>.
                In the Adventure mode you&#039;ll find quests, unblock new game modes, obtain points to climb up the pyramid, etc.
                Each game costs 1 <img src="/img/design/snow_flake_blue.gif" alt=""/>.
            </li>

            <li>
                <strong>The Learning mode <img src="/img/design/itutorial_blue.gif" alt=""/> is highly recommended for beginners</strong>.
                With this mode you learn the basic techniques before playing the Adventure mode. The Learning mode is free and unlimited.
            </li>

            <li>
                About the other Game modes <img src="/img/design/iint_blue.gif" alt=""/>, you have to unblock and discover them on your own!
            </li>
        </ul>


        <a name="fridge"></a>
        <h2>4. The fridge</h2>

        <p>
        The <strong>Fridge</strong> <img src="/img/design/help_fridge.gif" alt=""/> is the place
        where Igor keeps his collection of items. <strong>The items can be obtained throughout the game
            in the Adventure mode.</strong>. Usually you need to obtain 10 times the item before being allowed
        to keep it in the Fridge.
        </p>

        <p>
        The Fridge is of no practical use in the game. Its only function is for keeping souvenirs of
        your adventures in the caverns.
        </p>


        <a name="pyramid"></a>
        <h2>5. The Pyramid (ranking)</h2>
        <p>
        The <strong>Pyramid</strong> <img src="/img/design/help_pyr.gif" alt=""/> is a weekly league
        which includes every player who has played in the <strong>Adventure mode</strong>.
        </p>

        <p>
        At the end of each game in the Adventure mode, the number of points (score) obtained is
        saved in the <a href="/scores.html">Pyramid ranking</a>.
        </p>
        <p>
        Each player starts at the lowest Pyramid level: level 4.
        </p>
        <p>
        Every Tuesday at midnight, the ranking is brought back to zero and the
        <strong>best players of each level go up a level</strong>.
        </p>
        <p>
        The best player of level 1 wins a place in the <strong>Hall of Fame</strong>
        <img src="/img/design/icon_pyramid_hof.png" alt=""/>!
        Thanks to this title, he/she will be a living legend and will be able to leave a message
        in the <strong>Great Book of the Heroes</strong>.
        </p>
        <p>
        Pay attention because only the score is brought down to zero. Your possessions,
        bought games and quests are kept up.
        </p>

        <a name="quests"></a>
        <h2>6. The quests</h2>
        <p>
        In the <strong>Quest page</strong> <img src="/img/design/help_quest.gif" alt=""/>
        you have a briefing of all the started Quests, finished and in progress.
        </p>
        <p>
        Throughout your games in the Adventure mode, you&#039;ll find several items with different effects.
        Sometimes they&#039;ll only give you points, but other times they&#039;ll have devastating powers over your
        enemies or over you.
        </p>
        <p>
        Most of these items are part of
        <a href="/user.html/quests">long Quests</a>.
        </p>
        <p>
        <strong>A Quest consists of accumulating a series of items</strong>.
        Each time you find a Quest item, it will be validated and its effects will be
        permanently applied to all your future games!
        </p>
        <p>
        These effects are different and sometimes when you finish a Quest you can obtain:
        </p>
        <ul>
            <li>Extra lives</li>
            <li>Extra games</li>
            <li>New quests available for exploration</li>
            <li>New game modes</li>
            <li>More lives each time you start a game in the Adventure mode</li>
            <li>New skills</li>
            <li>New games each time you make a purchase in the shop</li>
            <li>And plenty of other things!</li>
        </ul>

        <a name="options"></a>
        <h2>7. Game options</h2>
        <p>At the bottom of the <strong>Game menu</strong>, click on the
        <img src="/img/design/help_opt.gif" alt=""/> link to change some options during the game:
        </p>
        <ul>
            <li>
                <strong>High quality graphics</strong>. To get a better game performance,
                disable the box.
            </li>
            <li>
                <strong>Frequent vibrations</strong>. If you think the vibrations are slowing down the game,
                disable this box.
            </li>
            <li>
                <strong>Sound</strong>. Sound effects (jumps, explosions, etc.) are activated if you enable
                this box.
            </li>
            <li>
                <strong>Music</strong>. Enable this box to listen to the music of the game during your adventure.
            </li>
            <li>
                <strong>Volume</strong>. Turn up or down the volume with this option.
            </li>
        </ul>

        <a name="forum"></a>
        <h2>8. The forum</h2>
        <p>
        Are you lost in the dark caverns of Hammerfest? Are you wondering what the
        giant crystal, which falls down sometimes, is for?
        Ask all your questions in the <a href="/forum.html">forum</a>! Administrators, moderators and players
        will help you to solve them.
        </p>

        <a name="support"></a>
        <h2>9. Technical support</h2>
        <p>
        If you have <strong>technical difficulties</strong> in the game or a payment problem, please go to the
        <a href="http://support.motion-twin.com/?site=hfest" target="_blank">Support website</a> (its link is permanently available at the bottom of the
        page).
        </p>

        <a name="contact"></a>
        <h2>10. Contact</h2>
        <p>
        If you have a problem, you can contact us. Although, before doing that, we
        recommend to check if your problem is already answered in the
        </p>
        <ul>		    	
            <li><a href="/guide.html">Game Guide</a></li>
            <li><a href="/forum.html">Forum</a></li>
            <li><a href="http://support.motion-twin.com/?site=hfest" target="_blank">Frequently Asked Questions</a> of our <a href="http://support.motion-twin.com/">Support and Help website</a>.
                This website provides help for all of Motion Twin&#039;s websites, in which Hammerfest is specifically included. If you don&#039;t find your answer there, you&#039;ll be able 
                to contact us.		    	
            </li>
        </ul>		    
    </div>
</div>
{% endblock %}
