{% extends 'layout.html' %}
{% block title %} - Jeu aventure en ligne{% endblock %}
{% block site_content %}
<div class="siteMinHeight">
	<h1>Suivez Igor dans <strong>ses aventures !</strong></h1>

	<div class="firstText">			
		<img src="img/design/screens_home3.gif" alt="Hammerfest" class="introimage"/>
		<p>
		Jouez à <strong>Hammerfest</strong>, un jeu vidéo complet disponible exclusivement depuis ce site internet !
		</p>		

		<ul>
			<li>Plus de 200 niveaux !</li>
			<li>Une grande variété d&#039;ennemis très très méchants !</li>
			<li>Plus de 70 quêtes !</li>
			<li>Plus de 350 objets à découvrir !</li>
			<li>Des secrets à gogo !</li>				
		</ul>
		<p>
		<span>Inscrivez-vous et jouez gratuitement maintenant!</span>
		</p>

		<p class="smallfont">Et en plus, Hammerfest est un jeu gratuit : nous vous offrons 5 parties lors de votre inscription. Une fois ces parties jouées, vous recevrez 1 partie par jour.</p>

		<p class="smallfont">Et si ce n&#039;est pas assez, vous pourrez acheter des parties supplémentaires, lesquelles pourront être cumulées !</p>						
	</div>

	<div class="clear"></div>


	<div class="choice choiceLogged">
		<a href="/intro.html" class="introd">Intro</a>
		<a href="/try.html#play" class="try">Essayer</a>
	</div>



	<div class="clear"></div>

	<table class="features">
		<tr>
			<td class="feature01">
				Collectionnez plus de 300 objets répartis dans 221 niveaux !
			</td>
		</tr>
		<tr>
			<td class="feature02">
				Découvrez de nombreux pouvoirs dévastateurs...
			</td>
		</tr>
		<tr>
			<td class="feature03">
				Grimpez dans le classement et gagnez votre place au sommet !
			</td>
		</tr>

	</table>
</div>
{% endblock %}
