.siteHeader {
	background-image	: url('/img/design/headers/es/header.jpg');
}

.buttonForum {
	background-image	: url(/img/design/icon_foro.png);
}

/*
.arrow {
	margin-top			: 40px;
	margin-left			: 25px;
}

.news {
	margin-top			: 50px;
}*/

